In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Task - 1

df = pd.DataFrame(np.random.randint(0,100, size=(4,4)), columns=list("abcd"))
print(df)

    a   b   c   d
0  29  61  77  23
1  24  55  58  52
2   6  70  61  22
3  70  39  57  12

In [ ]:
# Task - 2

df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0              29              61              77              23
1              24              55              58              52
2               6              70              61              22
3              70              39              57              12

In [ ]:
# Task - 3

print(df.describe())

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000         4.00000
mean        32.250000       56.250000       63.250000        27.25000
std         27.035471       13.047988        9.322911        17.23127
min          6.000000       39.000000       57.000000        12.00000
25%         19.500000       51.000000       57.750000        19.50000
50%         26.500000       58.000000       59.500000        22.50000
75%         39.250000       63.250000       65.000000        30.25000
max         70.000000       70.000000       77.000000        52.00000

In [ ]:
# Task - 4

print(df.isnull())
print()

print(df.dtypes)

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

In [ ]:
# Task 5

print(df.loc[:,["Random value 2","Random value 3"]])
print()

print(df.iloc[:,[1,2]])

   Random value 2  Random value 3
0              61              77
1              55              58
2              70              61
3              39              57

   Random value 2  Random value 3
0              61              77
1              55              58
2              70              61
3              39              57