In [ ]:
import pandas as pd
import numpy as np

### ***TASK 1***

In [ ]:
# Series

ser_1 = pd.Series(np.random.rand(4))
print(ser_1)
ser_2 = pd.Series(np.random.rand(4))
print(ser_2)
ser_3 = pd.Series(np.random.rand(4))
print(ser_3)
ser_4 = pd.Series(np.random.rand(4))
print(ser_4)

0    0.354885
1    0.260608
2    0.973775
3    0.184216
dtype: float64
0    0.467926
1    0.672226
2    0.057162
3    0.891199
dtype: float64
0    0.860089
1    0.739243
2    0.675611
3    0.363506
dtype: float64
0    0.686347
1    0.297599
2    0.858786
3    0.405601
dtype: float64

In [ ]:
# DataFrame

df = pd.DataFrame([ser_1,ser_2,ser_3,ser_4])
df

          0         1         2         3
0  0.354885  0.260608  0.973775  0.184216
1  0.467926  0.672226  0.057162  0.891199
2  0.860089  0.739243  0.675611  0.363506
3  0.686347  0.297599  0.858786  0.405601

In [ ]:
df =df.T
df

          0         1         2         3
0  0.354885  0.467926  0.860089  0.686347
1  0.260608  0.672226  0.739243  0.297599
2  0.973775  0.057162  0.675611  0.858786
3  0.184216  0.891199  0.363506  0.405601

### ***TASK 2***

In [ ]:
# Renaming columns

df.columns =['Random value 1', 'Random value 2', 'Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.354885        0.467926        0.860089        0.686347
1        0.260608        0.672226        0.739243        0.297599
2        0.973775        0.057162        0.675611        0.858786
3        0.184216        0.891199        0.363506        0.405601

### ***TASK 3***

In [ ]:
# Descriptive statistics

df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.443371        0.522128        0.659612        0.562083
std          0.360427        0.354905        0.211713        0.256848
min          0.184216        0.057162        0.363506        0.297599
25%          0.241510        0.365235        0.597585        0.378601
50%          0.307746        0.570076        0.707427        0.545974
75%          0.509607        0.726969        0.769455        0.729457
max          0.973775        0.891199        0.860089        0.858786

In [ ]:
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.443371        0.522128        0.659612        0.562083
std          0.360427        0.354905        0.211713        0.256848
min          0.184216        0.057162        0.363506        0.297599
25%          0.241510        0.365235        0.597585        0.378601
50%          0.307746        0.570076        0.707427        0.545974
75%          0.509607        0.726969        0.769455        0.729457
max          0.973775        0.891199        0.860089        0.858786

### ***TASK 4***

In [ ]:
# Check for null values

df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
# Changing some values to NaN

df['Random value 2']=[np.nan,0.776022,0.770545,0.082065]
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.349633             NaN        0.423534        0.082998
1        0.466745        0.776022        0.461758        0.879646
2        0.512026        0.770545        0.651306        0.850109
3        0.802800        0.082065        0.050000        0.614237

In [ ]:
df['Random value 4']=[np.nan,0.879646,0.850109,np.nan]
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.349633             NaN        0.423534             NaN
1        0.466745        0.776022        0.461758        0.879646
2        0.512026        0.770545        0.651306        0.850109
3        0.802800        0.082065        0.050000             NaN

In [ ]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False            True           False            True
1           False           False           False           False
2           False           False           False           False
3           False           False           False            True

In [ ]:
df.isnull().sum()

Random value 1    0
Random value 2    1
Random value 3    0
Random value 4    2
dtype: int64

In [ ]:
# Defining datatype

type(df)

pandas.core.frame.DataFrame

In [ ]:
df['Random value 1'].dtype

dtype('float64')

In [ ]:
df['Random value 2'].dtype

dtype('float64')

In [ ]:
df['Random value 3'].dtype

dtype('float64')

In [ ]:
df['Random value 4'].dtype

dtype('float64')

### ***TASK 5***

In [ ]:
# Random value 2&3 with location method

df.loc[0:3,'Random value 2': 'Random value 3']

   Random value 2  Random value 3
0             NaN        0.423534
1        0.776022        0.461758
2        0.770545        0.651306
3        0.082065        0.050000

In [ ]:
# Random value 2&3 with index location method

df.iloc[0:,1:3]

   Random value 2  Random value 3
0             NaN        0.423534
1        0.776022        0.461758
2        0.770545        0.651306
3        0.082065        0.050000